{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Patient Edit{% endblock %}

{% block content %}
<h1>Patient Edit</h1>

<form action="{{ path('patient_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
    
    <div class="form_container">
        <ul>
            <li>{{ form_label(edit_form.first_name, 'First Name') }} {{ form_widget(edit_form.first_name) }} 
                <span class="form_errors">{{ form_errors(edit_form.first_name) }}</span>
            </li>
            <li>{{ form_label(edit_form.last_name, 'Last Name') }} {{ form_widget(edit_form.last_name) }} 
                <span class="form_errors">{{ form_errors(edit_form.last_name) }}</span>
            </li>
            <li>{{ form_label(edit_form.age, 'Age') }} {{ form_widget(edit_form.age) }} 
                <span class="form_errors">{{ form_errors(edit_form.age) }}</span>
            </li>
            <li>{{ form_label(edit_form.doctor, 'Doctor') }} {{ form_widget(edit_form.doctor) }} 
                <span class="form_errors">{{ form_errors(edit_form.doctor) }}</span>
            </li>
        </ul>
        <!-- diagnoses -->
    </div>
    
    {{ form_rest(edit_form) }}
    
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('patient') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('patient_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}