{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Patient Create{% endblock %}

{% block content %}
<h1>Patient Create</h1>

<form action="{{ path('patient_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="form_container">
        <ul>
            <li>{{ form_label(form.first_name, 'First Name') }} {{ form_widget(form.first_name) }} 
                <span class="form_errors">{{ form_errors(form.first_name) }}</span>
            </li>
            <li>{{ form_label(form.last_name, 'Last Name') }} {{ form_widget(form.last_name) }} 
                <span class="form_errors">{{ form_errors(form.last_name) }}</span>
            </li>
            <li>{{ form_label(form.age, 'Age') }} {{ form_widget(form.age) }} 
                <span class="form_errors">{{ form_errors(form.age) }}</span>
            </li>
            <li>{{ form_label(form.doctor, 'Doctor') }} {{ form_widget(form.doctor) }} 
                <span class="form_errors">{{ form_errors(form.doctor) }}</span>
            </li>
        </ul>
        <!-- diagnoses -->
    </div>
    
    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('patient') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}