{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Patient Details{% endblock %}

{% block content %}
<h1>Patient Details</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ entity.age }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('patient') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('patient_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('patient_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
