{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Doctor Edit{% endblock %}

{% block content %}
<h1>Doctor Edit</h1>

<form action="{{ path('doctor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="form_container">
        <ul>
            <li>{{ form_label(edit_form.first_name, 'First Name') }} {{ form_widget(edit_form.first_name) }} 
                <span class="form_errors">{{ form_errors(edit_form.first_name) }}</span>
            </li>
            <li>{{ form_label(edit_form.last_name, 'Last Name') }} {{ form_widget(edit_form.last_name) }} 
                <span class="form_errors">{{ form_errors(edit_form.last_name) }}</span>
            </li>
            <li>{{ form_label(edit_form.degrees, 'Degrees') }} {{ form_widget(edit_form.degrees) }} 
                <span class="form_errors">{{ form_errors(edit_form.degrees) }}</span>
            </li>
            <li>{{ form_label(edit_form.email, 'Email') }} {{ form_widget(edit_form.email) }} 
                <span class="form_errors">{{ form_errors(edit_form.first_name) }}</span>
            </li>
            <li>{{ form_label(edit_form.portrait, 'Portrait') }} {{ form_widget(edit_form.portrait) }} 
                <span class="form_errors">{{ form_errors(edit_form.portrait) }}</span>
            </li>
        </ul>
    </div>
    
    {{ form_rest(edit_form) }}
    
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('doctor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('doctor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
