{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Doctors{% endblock %}

{% block content %}
<h1>Doctors</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Degrees</th>
            <th>Email</th>
            <th>Portrait</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('doctor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.degrees }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.portrait }}</td>
            <td>
                <ul class="actions">
                    <li>
                        <a href="{{ path('doctor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('doctor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('doctor_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
