{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Doctor Create{% endblock %}

{% block content %}
<h1>Doctor Create</h1>

<form action="{{ path('doctor_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="form_container">
        <ul>
            <li>{{ form_label(form.first_name, 'First Name') }} {{ form_widget(form.first_name) }} 
                <span class="form_errors">{{ form_errors(form.first_name) }}</span>
            </li>
            <li>{{ form_label(form.last_name, 'Last Name') }} {{ form_widget(form.last_name) }} 
                <span class="form_errors">{{ form_errors(form.last_name) }}</span>
            </li>
            <li>{{ form_label(form.degrees, 'Degrees') }} {{ form_widget(form.degrees) }} 
                <span class="form_errors">{{ form_errors(form.degrees) }}</span>
            </li>
            <li>{{ form_label(form.email, 'Email') }} {{ form_widget(form.email) }} 
                <span class="form_errors">{{ form_errors(form.first_name) }}</span>
            </li>
            <li>{{ form_label(form.portrait, 'Portrait') }} {{ form_widget(form.portrait) }} 
                <span class="form_errors">{{ form_errors(form.portrait) }}</span>
            </li>
        </ul>
    </div>
    
    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('doctor') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}