{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Diagnosis Edit{% endblock %}

{% block content %}
<h1>Diagnosis Edit</h1>

<form action="{{ path('diagnosis_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="form_container">
        <ul>
            <li>{{ form_label(edit_form.name, 'Name') }} {{ form_widget(edit_form.name) }} 
                <span class="form_errors">{{ form_errors(edit_form.name) }}</span>
            </li>
            <li>{{ form_label(edit_form.reference_number, 'Ref. Number') }} {{ form_widget(edit_form.reference_number) }} 
                <span class="form_errors">{{ form_errors(edit_form.reference_number) }}</span>
            </li>
            <li>{{ form_label(edit_form.description, 'Description') }} {{ form_widget(edit_form.description) }} 
                <span class="form_errors">{{ form_errors(edit_form.description) }}</span>
            </li>
        </ul>
    </div>
    
    {{ form_rest(edit_form) }}
    
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('diagnosis') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('diagnosis_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}