{% extends 'BrdrgzDoctorPatientDiagnosisBundle::layout.html.twig' %}

{% block title %}DPD RDBMS - Diagnosis Create{% endblock %}

{% block content %}
<h1>Diagnosis Create</h1>

<form action="{{ path('diagnosis_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="form_container">
        <ul>
            <li>{{ form_label(form.name, 'Name') }} {{ form_widget(form.name) }} 
                <span class="form_errors">{{ form_errors(form.name) }}</span>
            </li>
            <li>{{ form_label(form.reference_number, 'Ref. Number') }} {{ form_widget(form.reference_number) }} 
                <span class="form_errors">{{ form_errors(form.reference_number) }}</span>
            </li>
            <li>{{ form_label(form.description, 'Description') }} {{ form_widget(form.description) }} 
                <span class="form_errors">{{ form_errors(form.description) }}</span>
            </li>
        </ul>
    </div>
    
    {{ form_rest(form) }}
    
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('diagnosis') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}