<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}DPD RDBMS{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/brdrgzdoctorpatientdiagnosis/css/style.css') }}" type="text/css" media="all" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
				<div id="header">
						<ul id="tabs">
								<li><a href="{{ path('patient') }}">Home</a></li>
								<li><a href="{{ path('doctor') }}">Doctors</a></li>
								<li><a href="{{ path('patient') }}">Patients</a></li>
								<li><a href="{{ path('diagnosis') }}">Diagnoses</a></li>
						</ul>
				</div>
				<div id="content">
						{% block content %}
						{% endblock %}
				</div>
				{% if (action == 'index') %}
    				<div id="pagination">
    				    <form action="{{ path(app.request.attributes.get('_route')) }}" method="post" class="page_controls">
    				        <p>Page : 
    				          <input name="page" type="text" value="{{ cur_pg }}" /> of {{ tot_pg }}
    				        </p>
    				        <p>Show : 
    				          <select name="show" onchange="this.form.submit()">
    				              <option value="10" {% if (show == '10') %}selected="selected"{% endif %}>10</option>
    				              <option value="25" {% if (show == '25') %}selected="selected"{% endif %}>25</option>
    				              <option value="50" {% if (show == '50') %}selected="selected"{% endif %}>50</option>
    				          </select>
    				        </p>
    				    </form>
    				</div>
				{% endif %}
    </body>
</html>